<li class="list-group-item my-3 mx-5 border-0">
    <a asp-action="Novo" asp-controller="Produto">
        <img class="novo-livro img-fluid" src="~/images/picole.png" alt="Incluir Picolé">
    </a>
</li>